[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=yck
Group=yck
WorkingDirectory=/home/yck/app/src/
Environment="PATH=/home/yck/app/venv/bin"
EnvironmentFile=/home/yck/.env
ExecStart=/home/yck/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target